<div class = "list-unstyled">
  <% for (const item of items){%>
    <li>
      <a href="<%= item.link %>"><p><%= item.title %></p></a>
      <p><%= item.creator %></p>
      <p><%= item.description %></p>
      <p><%= item.pubDate %></p>
      <p><%= item.contentSnippet %></p>
      <p>
        <% for (const category of item.categories){%>
          <span><%= category %></span>
        <%}%>
    </li>
  <%}%>
</div>
